.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  min-height: 600px;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display:inline-flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 7rem;
}

.nav-Image {
  width: 100px;
  height: 38px;
}

.nav-link-text {
  color: black;
}

.site-title {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.line-Width {
  border-bottom: 5px solid black;
  margin-top: 10%;
  width: 90%;
}

/* Below is imported code for the background */

